# ignore pseudo-toc-to-text.mjs
ignore-pseudo-toc-to-text.mjs

# Dependencies
node_modules/
.pnpm-store/

# Test books (downloaded by script ./test-books/download-books.sh)
test-books/*.epub

# for images and such - volatile and gitignored
data/