---
import { getCollection } from "astro:content";
import DocLayout from "../../layouts/DocLayout.astro";

const docs = await getCollection("docs");
---

<DocLayout title="Documentation">
  <h1>Documentation</h1>
  <p>Available guides and benchmarks.</p>

  <ul>
    {docs.map((doc) => (
      <li>
        <a href={`/docs/${doc.slug}`}>{doc.data.title || doc.slug}</a>
      </li>
    ))}
  </ul>
</DocLayout>
